@tailwind base;
@tailwind components;
@tailwind utilities;

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}


.restaurant-menu {
    margin: 20px 0px;
    display: flex;
    flex-wrap: wrap;

    .description {
        word-wrap: break-word;
    }
}

.item-logo-container {
    margin: 10px;
    border: 1px solid #f0f0f0;
    width: 220px;
    height: 70vh;
    padding: 10px;

    .image-container {
        display: flex;
        justify-content: center;
        margin: 10px;

        .item-logo-img {
            width: 100px;
            height: 100px;
        }
    }

}