.body {
    margin: 20px 0px;
    display: block;
    height: 100%;
    
    .filter {
        display: flex;
        
        .filter-btn {
            margin: 10px;
            padding: 10px;
            cursor: pointer;
        }

        .reset-btn{
            margin: 10px;
            padding: 10px;
            cursor: pointer;
        }
    }

    .restaurants {
        display: flex;
        flex-wrap: wrap;
    }
}