.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #000000;
    
    .logo{
        width: 100px;
        display: flex;
        justify-content: center;
        
        .logo-image{
            width: 70px;
            height: 70px;
        }
    }

   
}