
.nav-items {
    ul {

        li {
            padding: 10px;
            margin: 10px;
        }

        li:hover{
            text-decoration: underline;
            font-weight: bold;
        }


    }
}